<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div id="box">
    <div class="form-group">        
        <label for="">FIND SOME MOVIE</label>
        <input type="text" class="form-control " aria-describedby="helpId" placeholder="" v-model="keyWord">
        <div class="d-flex">
            <label for="">INPUT YEAR</label>
            <input type="number" class="form-control year" name="" aria-describedby="helpId" placeholder="" v-model="keyYear">  
        </div>
        
        <button type="button" class="btn btn-primary searchbtn" v-on:click="find">SEARCH</button>
        
      </div>

    <div>
        <ul>
            <li v-for="i in arrall">{{ i.title }}</li>
        </ul>
    </div>
  
</div>
   
    
<!-- https://api.themoviedb.org/3/genre/movie/list?api_key=d9553ab8ada47283a441b9a4cbc603c5&language=en-US -->
<!-- https://api.themoviedb.org/3/discover/movie?api_key=d9553ab8ada47283a441b9a4cbc603c5&year=2020 -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>  
    
    

    

    let sample = new Vue ({
        el:'#box',
       
        data:
        {
            keyWord:'',
            keyYear:'',
            arrall:[],
            
            
            
        },
        methods:
        {
            
            find: function()
            {
                
                let urlRequest = `https://api.themoviedb.org/3/search/movie?api_key=d9553ab8ada47283a441b9a4cbc603c5&language=en-US&query=${this.keyWord}&page=1&include_adult=false&${this.keyYear}`;
                let RequestJson = $.getJSON( urlRequest, function(info) 
                {                 
                                      
                    this.arall=info.results;
                    console.log(this.arall);          
                    
                    
                });

                

            }
            
        },
      
        

    });
    

        

    </script>
    <script src="script.js"></script>
</body>
</html>